/* todo: modularizar isso                     */

body {
    background: azure;
}

h1,
h2,
h3,
a,
p {
    color: white;
}

.fitacrepe {
    text-align: center;
}

#container {

    width: 800px;
    margin: 0 auto;
    padding: 8px 0;
    position: relative;
    text-align: left;
}

#cabecalho,
#rodape {
    padding: 8px 48px;
    background: url(../imagem/inho.png) top left repeat fixed;
}

#content {
    padding: 24px 16px;
    background: url(../imagem/testinho.jpg) top left repeat fixed;
    word-wrap: anywhere;
    word-break: break-all;
}
